*{
	box-sizing: border-box;
}
body{
    font-family: 'Open Sans','Arial';
}
header{
	text-align: center;
	padding-bottom: 5px;
	padding-top: 15px;
}
header img{
	width: 200px;
	height: auto;
}
header a{
	color: black;
	text-decoration-line: none;
	margin-left: 15px;
	margin-left: 15px;
}
main section{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ccc;
}
footer{
	background-color: #6bb64a;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	color: #fff;
	font-size: 13px;
}
.contacto{

}
.container{
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.fila{
	margin-left: -15px;
	margin-right: -15px:;
}
.columna{
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	vertical-align: top;
}
.columna-50{
	width: 50%;

}
.white{
	background-color: white;
}
.yellow{
	background-color: yellow;
}
.boton{
	padding: 3px;
	color: #fff;

}
.home{
	height: 100vh;
	background-color: white;
}
.home video{
	width: 100%;
	heigth: 100%;
	object-fit: cover;
	object-position: center;
}


